*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;

  letter-spacing: 0.1em;

  color: $color-gray;

  font-family: $font-main;
  font-size: 16px;
}

h1 {
  text-align: center;
  letter-spacing: 0.08em;

  font-family: $font-header;
  font-weight: 300;
  line-height: 1.2em;

  @include lg-min {
    font-size: 3.75rem;
  }

  @include lg-md {
    font-size: 2.5rem;
  }

  @include md {
    font-size: 1.875rem;
  }
}

h2 {
  font-family: $font-header;
  font-weight: 700;
  letter-spacing: 0.1em;
  line-height: 1.2em;
  color: $color-primary;

  @include lg-min {
    margin-bottom: 3rem;

    font-size: 2.5rem;
  }
  @include lg-md {
    margin-bottom: 2.625rem;

    font-size: 2rem;
  }
  @include md-sm {
    margin-bottom: 2.25rem;

    font-size: 1.5rem;
  }
  @include sm {
    margin-bottom: 2.25rem;

    text-align: center;

    font-size: 1.5rem;
  }
}

h3 {
  letter-spacing: 0.05em;
  color: $color-gray;
  font-size: 1.125rem;
}

a {
  text-decoration: none;

  color: $color-light;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 60px;

  padding-right: 1em;
  padding-left: 1em;

  transition: background-color 0.5s;
  letter-spacing: 0.1em;

  border-width: 2px;
  border-style: solid;

  font-size: 1.125rem;
}

.btn--light {
  border-color: $color-light;
  background-color: rgba($color-light, 0.1);

  @include lg-min {
    min-width: 250px;
  }
  @include lg-md {
    min-width: 200px;
    height: 50px;

    font-size: 1rem;
  }
  @include md-sm {
    min-width: 170px;
    height: 40px;

    letter-spacing: 0.05em;

    font-size: 1rem;
  }
  @include sm {
    min-width: 170px;
    height: 40px;

    letter-spacing: 0.05em;

    font-size: 1rem;
  }
}

.btn--primary {
  height: 60px;

  border: 2px solid $color-primary;
  background-color: rgba($color-primary, 0.8);

  font-size: 1.125rem;

  @include sm-min {
    min-width: 300px;
  }

  @include sm {
    width: 100%;
  }
}

.btn:hover,
.btn:focus {
  background-color: $color-accent;
}
